In [1]:
import os
import json
import csv
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'/Users/jenniferlee/Documents/Data/Data/IRA'

In [3]:
with open("russia.csv") as csv_file:
    russia_all_csv = pd.read_csv(csv_file)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,10,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
russia_all_csv.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,2495567768,DAILYSANFRAN,Police: Airline pilot found passed out in cock...,United States,English,1/2/2017 14:39,1/2/2017 14:39,4577,16782,34960,...,local,0,NewsFeed,0,2495567768,815930489311789056,http://twitter.com/2495567768/statuses/8159304...,https://twitter.com/DailySanFran/status/815930...,http://kron4.com/2017/01/02/police-airline-pil...,NaN
1,2495567768,DAILYSANFRAN,Dashcam video shows man launching himself onto...,United States,English,1/2/2017 15:39,1/2/2017 15:39,4577,16782,34961,...,local,0,NewsFeed,0,2495567768,815945595546431488,http://twitter.com/2495567768/statuses/8159455...,https://twitter.com/DailySanFran/status/815945...,http://kron4.com/2017/01/02/dashcam-video-show...,NaN
2,2495567768,DAILYSANFRAN,Man Arrested For Setting Fire To South SF Medi...,United States,English,1/2/2017 16:19,1/2/2017 16:19,4577,16782,34962,...,local,0,NewsFeed,0,2495567768,815955659963432960,http://twitter.com/2495567768/statuses/8159556...,https://twitter.com/DailySanFran/status/815955...,http://sanfrancisco.cbslocal.com/2017/01/02/ma...,NaN
3,2495567768,DAILYSANFRAN,Practical tips to achieving your New Year's re...,United States,English,1/2/2017 16:29,1/2/2017 16:29,4577,16782,34963,...,local,0,NewsFeed,0,2495567768,815958175593730049,http://twitter.com/2495567768/statuses/8159581...,https://twitter.com/DailySanFran/status/815958...,http://abc7news.com/society/practical-tips-to-...,NaN
4,2495567768,DAILYSANFRAN,Couple disappears during trip to Big Sur https...,United States,English,1/2/2017 16:39,1/2/2017 16:39,4577,16781,34964,...,local,0,NewsFeed,0,2495567768,815960697800626176,http://twitter.com/2495567768/statuses/8159606...,https://twitter.com/DailySanFran/status/815960...,http://kron4.com/2017/01/02/couple-disappears-...,NaN

In [71]:
stored_list = {}
for index, row in russia_all_csv.iterrows():
    tweet = str(row['content']).split()
    for word in tweet:
        if word[0] == "#":
            if stored_list.get(word) == None:
                stored_list[word] = 1
            else:
                stored_list[word] += 1

In [82]:
with open('test.csv', 'w') as f:
    for key in stored_list.keys():
        new_key = key.replace(',', '');
        f.write("%s,%s\n"%(new_key,stored_list[key]))

In [85]:
with open("test.csv") as csv_file:
    hashtags = pd.read_csv(csv_file)

In [86]:
hashtags.head()

         hashtag  frequency
0       #7Things          6
1          #news     128538
2      #politics      39732
3   #RocktheDots          1
4  #SanFrancisco        260

In [89]:
hashtags.sort_values(by = 'frequency', ascending=False, inplace = True)

In [90]:
hashtags.head()

        hashtag  frequency
1         #news     128538
88      #sports      48631
2     #politics      39732
4122     #world      27554
90       #local      25889

In [92]:
top50hashtags = hashtags.iloc[0:50, :]

In [93]:
top50hashtags

                         hashtag  frequency
1                          #news     128538
88                       #sports      48631
2                      #politics      39732
4122                      #world      27554
90                        #local      25889
4593                    #TopNews      15149
1374                       #MAGA      12142
89                       #health      11479
291                        #tcot      11333
32             #BlackLivesMatter      11247
458                    #business      10836
2808                    #новости      10286
294                       #PJNET      10282
54                         #tech       8225
178               #entertainment       7586
3507                        #top       7417
6294                  #Cleveland       6678
4595                   #TopVideo       6547
167                       #crime       6501
3827                #environment       5785
289                        #ISIS       5741
11474         #Merkelmussbleiben       5390
224                       #Trump       5135
7723                        #mar       4865
6312                      #Miami       4548
172                    #breaking       4513
135146                     #topl       4399
8444                     #Merkel       4346
87                      #SanJose       4161
5069                 #IslamKills       4112
988                          #2A       3974
4599                       #life       3961
980               #WakeUpAmerica       3944
39233                 #FAKENEWS!       3752
22                    #GOPDebate       3693
331                   #KochFarms       3593
7234                 #DemnDebate       3578
393                  #NowPlaying       3515
3826                     #Россия       3440
981                        #TCOT       3430
1354    #ToDoListBeforeChristmas       3374
5089                       #ccot       3310
1109                    #Chicago       3258
481                       #Syria       3113
114124         #Пластмассовыйвек       3054
100778                      #amb       2914
1400        #ThingsYouCantIgnore       2891
3020                 #TrumpTrain       2658
48                    #DemDebate       2652
3972                         #US       2613

In [94]:
top50hashtags.to_csv("top50IRAhashtags.csv", index = False)

In [3]:
with open('top50IRAhashtags.csv') as datafile:
    top50hashtags_df = pd.read_csv(datafile)

In [4]:
top50hashtags_df.head()

     hashtag  frequency
0      #news     128538
1    #sports      48631
2  #politics      39732
3     #world      27554
4     #local      25889